{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% if session["user_id"] %}
    {% block main %}
        <div class="top b-3 p-2">
            <div class="w-full flex justify-center text-lg font-bold">Apology</div>
        </div>
        <div class="h-[1px] w-full bg-gray-700 my-1"></div>
        <div class="px-8 py-6 rounded-lg shadow-lg w-96 m-2">
            <div class="mt-4">
                <!-- https://memegen.link/ -->
                <!-- https://knowyourmeme.com/memes/grumpy-cat -->
                <img alt="{{ top }}" class="border rounded-xl" src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}">
            </div>
        </div>
    {% endblock %}
{% else %}
    {% block body %}
        <body class="bg-[#16181c] flex items-center justify-center min-h-screen">
            <div class="bg-black px-8 py-6 rounded-lg shadow-lg w-96 m-2">
                <div class="flex justify-between bg-blue-600 text-white rounded-lg p-2">
                    <a href="/register" class="font-bold py-2 px-4 rounded-md hover:bg-blue-500 transition-colors">Register here</a>
                    <a href="/login" class="font-bold py-2 px-4 rounded-md hover:bg-blue-500 transition-colors">Login here</a>
                </div>
                <div class="mt-4">
                    <!-- https://memegen.link/ -->
                    <!-- https://knowyourmeme.com/memes/grumpy-cat -->
                    <img alt="{{ top }}" class="border rounded-xl" src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}">
                </div>
            </div>
        </body>
    {% endblock %}
{% endif %}
